<!DOCTYPE html>
<html ng-app="demoApp" ng-controller="demoCtrl">
<head>
	<meta charset="utf-8">
	<title>AngularJS Application</title>
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
</head>
<body>
	<div>
		<form name="myForm">
			<p>名字:<input type="text" name="user" ng-model="user.name" required></p>
			<h1>Hello {{name}}</h1>
			<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
				<span ng-show="myForm.user.$error.required">用户名是必须的。</span>
			</span>
			<p>邮箱:<input type="email" name="email" ng-model="user.email" required></p>
			<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
				<span ng-show="myForm.email.$error.email">非法的邮箱。</span>
			</span>
			<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid"/>
			<button ng-click="reset()">RESET</button>
		</form>
	</div>
	<script>
		var app = angular.module('demoApp', []);
		app.controller('demoCtrl', function($scope) {
			$scope.defaults = {name: "Jim", email: "jim@com.tw"};

			$scope.reset = function() {
				$scope.user = angular.copy($scope.defaults);
			}
			$scope.reset();
		});
	</script>
</body>
</html>

