<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<meta charset="utf-8">
	<base href="/">
	<title>AngularJS Application</title>
	<script type="text/javascript" src="file:///Users/cclin/Desktop/angularjs-projects/lib/angular.min.js"></script>
</head>
<body>
	<div>
		<p ng-repeat="item in data">名字:{{item.name}}</p>
	</div>
	<hr/>
	<div>
		<p ng-repeat="item in data | orderBy:'name'">名字:{{item.name}}</p>
	</div>
	<hr/>
	<div>
		<p ng-repeat="item in data | filter:'J'">名字:{{item.name}}</p>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.data = [
				{id:1, name:"Jim"},
				{id:2, name:"Erin"}
			];
		});
	</script>
</body>
</html>

